html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: darkslategray;
  }
}

header a:first-child {
  font-size: 2rem;
  font-weight: bold;
}

header a:first-child:hover {
  text-decoration: underline;
}

header + nav {
  position: relative;
  left: -2rem;
  width: calc(100% + 4rem) !important;
  padding-right: 4rem !important;
}

header {
  left: -2rem;
  padding: 0 2rem;
}

main {
  padding: 0 2rem;
}

